{% extends "layouts/base.html" %};
{% load static %};

{% block head %}

{% endblock %}

{% block title %}Comunicaciones{% endblock %};

{% block titulo-pagina %}Comunicaciones{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<form method='GET'>
  <div class="card card-gray-dark card-outline mb-5">
    <div class="card-header">
      <div class="row d-flex justify-content-between px-2">
        <div class="col-12 col-sm-2 mb-0 p-0">
          <a href="{% url 'comunicaciones_crear'%}" class="btn btn-primary d-block font-weight-bold">Agregar</a>
        </div>
        <div class="col-12 col-sm-3 mb-0 p-0">
          <div class="form-row">
            <div class="form-group col-sm-10 mb-0 mt-2 mt-sm-0 pb-0">
              <input type="text" class="form-control form-control-border border-width-2" type='text' name='busqueda'
                value='{{ request.GET.busqueda }}' placeholder="Búsqueda ..." aria-label="Search">
            </div>
            <div class="form-group col-sm-2 mb-0 pb-0">
              <button type="submit" class="btn btn-primary btn-block"><i class='fas fa-search'></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="card card-primary card-outline">
  <div class="card-header mt-2">
    <h3 class="card-title">Bandeja de comunicaciones</h3>
    <div class="card-tools">
    <span class="badge badge-secondary h6 font-weight-bold mr-2">total: {{ object_list.paginator.count}}</span> 
    </div>
  </div>

  <div class="card-body p-0">

    <div class="table-responsive mailbox-messages">
      <table class="table table-hover table-striped" id="tabla-comunicaciones">
        <tbody>
          {% for o in object_list %}
          <tr class="clickable-row " data-href="{% url 'comunicaciones_ver' o.id %}" title="Ver detalle" role="button">
            <td class="mailbox-date">{{o.creado|date:'d/m/y'}}</td>
            <td class="d-none d-sm-table-cell">{{o.asunto}}</td>
            <td> <span class="badge badge-light">{{o.destinatarios.count}}</span> destinatarios</td>
            <td>
              {% if o.fallo %}
              <span class="badge badge-warning h6 font-weight-bold">Con fallos</span>

              {% else %}
              <span class="badge badge-success h6 font-weight-bold">Correcta</span>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr class="text-center">
            <td colspan="2">Sin comunicaciones enviadas</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- paginación  -->
    <div class="pagination justify-content-center mt-4 mb-2">
      <span class="step-links">
        {% if object_list.has_previous %}
        <a href="?page=1" class="btn btn-sm btn-secondary">&laquo; Primera</a>
        <a href="?page={{ object_list.previous_page_number }}" class="btn btn-sm btn-secondary">Anterior</a>
        {% endif %}

        <span class="current">
          Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
        </span>

        {% if object_list.has_next %}
        <a href="?page={{ object_list.next_page_number }}" class="btn btn-sm btn-secondary">Siguiente</a>
        <a href="?page={{ object_list.paginator.num_pages }}" class="btn btn-sm btn-secondary">Última &raquo;</a>
        {% endif %}
      </span>
    </div>

  </div>
</div>
{% endblock %}

{% block customJS %}
<script>
  $(document).ready(function () {

    // Agregar un evento de clic a cada elemento del menú
    $('.filtro').on('click', function () {
      // Obtener el valor del filtro almacenado en el atributo 'data-filtro'
      const filtro = $(this).data('filtro');

      // Mostrar todas las filas de la tabla
      $('#tabla-comunicaciones tbody tr').show();

      // Filtrar la tabla ocultando las filas que no coincidan con el filtro
      if (filtro !== 'todos') {
        $('#tabla-comunicaciones tbody tr').each(function () {
          const fila = $(this);
          const columna = fila.find('td:nth-child(3)'); // Obtener la columna 3 (índice 2)

          // Comparar el valor de la columna con el filtro y ocultar la fila si no coincide
          if (columna.text().trim() !== filtro) {
            fila.hide();
          }
        });
      }
    });

  });
</script>
{% endblock %}