{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Comunicaciones{% endblock %}
{% block titulo-pagina %}Comunicaciones{% endblock %};
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right px-3">
  <li class="breadcrumb-item"><a href="{% url 'comunicaciones_listar' %}"
      class="text-muted text-decoration-none">Comunicaciones</a>
  </li>
  <li class="breadcrumb-item active">Crear</li>
</ol>
{% endblock %};
{% load crispy_forms_tags %}

{% block content %}


<div class="row">
  <div class="col-12">
    <div class="card card-gray-dark mx-3">
      <div class="card-header ">
        <div class="card-title">
          Comunicación
        </div>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>

      </div>
      <div class="card-body">

        <form id="form_email" method="POST" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <div class="form-row mb-3">
            <div class="form-group pt-2 col-12">
              {{ form.grupo_de_destinatarios | as_crispy_field}}
            </div>
            <div class="form-group pt-2 col-12">
              {{ form.destinatarios | as_crispy_field}}
            </div>
            <div class="form-group pt-2 col-12">
              {{ form.asunto | as_crispy_field}}
            </div>
            <div class="form-group pt-2 col-12">
              {{ form.titulo | as_crispy_field}}
            </div>
            <div class="form-group pt-2 col-12">
              {{ form.mensaje | as_crispy_field}}
            </div>
            <div class="form-group pt-2 col-12">
              <label for="exampleInputFile">Archivos adjuntos</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="exampleInputFile" multiple name="archivos" />
                  <label class="custom-file-label" for="exampleInputFile"></label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                </div>
              </div>
            </div>
          </div>
          <!-- Botones -->

          <div class="d-flex justify-content-center">
            <div class="row mt-4">

              <a href="{% url 'comunicaciones_listar' %}" class="btn btn-secondary mr-1">Cancelar</a>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
          <!-- FIN Botones-->
        </form>
      </div>
    </div>
  </div>
</div>
<div class="d-none" id="previewData">
  <p id="previewAsunto"></p>
  <p id="previewTitulo"></p>
</div>

<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="previewContent">
          <!-- Aquí se mostrará el contenido de la vista previa mediante JavaScript -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



{% endblock content%}

{% block customJS %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    $(function () {
      bsCustomFileInput.init();
    });

    // Capturar el campo "Asunto del email" y el campo "Título del mensaje"
    var $asuntoInput = $('#id_asunto');
    var $tituloInput = $('#id_titulo');

    // Agregar el evento de cambio al campo "Asunto del email"
    $asuntoInput.on('change', function () {
      // Obtener el valor del campo "Asunto del email"
      var asuntoValor = $(this).val();

      // Establecer el mismo valor en el campo "Título del mensaje"
      $tituloInput.val(asuntoValor);
    });



    const form = document.getElementById("form_email");
    form.addEventListener("submit", function (event) {
      const grupoDestinatarios = document.querySelector("#id_grupo_de_destinatarios");
      const destinatarios = document.querySelector("#id_destinatarios");

      if (grupoDestinatarios.value === "" && destinatarios.value === "") {
        event.preventDefault(); // Evita que el formulario se envíe

        const errorDiv = document.createElement("div");
        errorDiv.classList.add("alert", "alert-danger");
        errorDiv.textContent = "Debes seleccionar al menos un grupo de destinatarios o destinatarios individuales.";

        const cardBody = document.querySelector(".card-body");
        cardBody.insertBefore(errorDiv, form);
      }
    });

  });

</script>
{% endblock customJS%}