{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Comunicaciones{% endblock %}
{% block titulo-pagina %}Comunicaciones{% endblock %};
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right px-3">
  <li class="breadcrumb-item"><a href="{% url 'comunicaciones_listar' %}"
      class="text-muted text-decoration-none">Comunicaciones</a>
  </li>
  <li class="breadcrumb-item active"> {%if request.resolver_match.url_name == "comunicaciones_editar" %} Editar {% else
    %}
    Crear {% endif %}</li>
</ol>
{% endblock %};
{% load crispy_forms_tags %}

{% block content %}
<form class="needs-validation " novalidate method="POST" enctype="multipart/form-data">
  <!-- Security token -->
  {% csrf_token %}

  <div class="row d-none">
    {{form.foto| as_crispy_field}}
  </div>

  <div class="row">
    <div class="col-sm-9 order-2 order-sm-1">
      <div class="card card-gray-dark mx-3">
        <div class="card-header ">
          <div class="card-title">
            {%if request.resolver_match.url_name == "comunicaciones_editar" %} Editar
            {% else %}
            Cargar
            {% endif %}
            datos
          </div>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>

        </div>
        <div class="card-body">
          <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">

              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col">
                    {{ form.nombre | as_crispy_field}}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    {{ form.texto | as_crispy_field}}
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    {{ form.foto | as_crispy_field}}
                  </div>
                </div>
                <!-- Botones -->

                <div class="d-flex justify-content-center">
                  <div class="row mt-4">

                    <a href="{% url 'comunicaciones_listar' %}"><button type="button"
                        class="btn btn-secondary">Cancelar</button></a>&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                  </div>
                </div>
                <!-- FIN Botones-->
              </div>
              <div class="col-sm-2"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3  order-1 order-sm-2">
    <div class="form-row justify-content-center ">

      <div class="form-group col-12 
          {%if request.resolver_match.url_name != 'comunicaciones_editar' %}
          d-none
          {%endif%}   ">
        <div class="card card-gray-dark mx-3">
          <div class="card-header ">
            <div class="card-title">Estado</div>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="d-none">
            {{form.activo}}
          </div>
          <div class="card-body py-2 px-1">
            {%if object.activo%}
            <button type="button" class="btn btn-flat btn-block bg-success p-2" id="label_activo">Activo</button>
            {%else%}
            <button type="button" class="btn btn-flat btn-block bg-danger p-2" id="label_activo">Desactivado</button>
            {%endif%}
          </div>
        </div>
      </div>
      <div class="form-group col-12">
        <div class="card card-gray-dark">
          <div class="card-header">
            <div class="card-title">Bases</div>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body py-1 my-0">
            {{form.grupos_invitados| as_crispy_field}}
          </div>
        </div>
      </div>
    </form>
      <div class="form-group col-12">
        <div class="card card-gray-dark">
          <div class="card-header">
            <div class="card-title">Invitados</div>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body pt-0 mt-0">
              <div class="card-header">
              <div class="row">
                <div id="div_id_invitados_individuales" class="form-group">
                  {%if request.resolver_match.url_name == 'comunicaciones_editar' %}
                  {% endif %}

                  </div>
            </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <form id="search-form" autocomplete="off">
                              {% csrf_token %}
                              <div class="form-row justify-content-sm-end">
                                      <input type="text" class="form-control " id="search-input"
                                          placeholder="Buscar">
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="card-body p-0">
                  <div class="table-responsive text-nowrap">
                      <table id="tabla" class="table table-sm table-hover">
                          <thead>
                              <tr>
                                <th class="text-right text-sm pl-0"></th>
                                <th class="text-sm pl-0"></th>
                              </tr>
                          </thead>
                          <tbody id="results-box">
                          </tbody>
                      </table>
                  </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content%}

{% block customJS %}
<script>

  $(document).ready(function () {

    // Disable form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();

    id_foto.onchange = (evt) => {
      const [file] = id_foto.files;
      if (file) {
        blah.src = URL.createObjectURL(file);
      }
    };

    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2()

      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })
    });


    // custom checkbox actvio
    $('#label_activo').click(function () {
      if ($('#label_activo').hasClass("bg-success")) {
        $('#label_activo').removeClass("bg-success").addClass("bg-danger").text('Desactivado');
        $('#id_activo').prop('checked', false);
      } else {
        $('#label_activo').removeClass("bg-danger").addClass("bg-success").text('Activo');
        $('#id_activo').prop('checked', true);
      };
    });
  });
</script>
<script>
  const url = window.location.href
  const searchForm = document.getElementById('search-form')
  const searchInput = document.getElementById('search-input')
  const resultsBox = document.getElementById('results-box')

  resultsBox.innerHTML = '<td colspan="8" class="text-center text-muted h4">Realice una busqueda.</td>'
  const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value

  const sendSearchData = (busqueda) => {
      $.ajax({
          type: 'POST',
          url: "{% url 'com_individuos_buscar' %}",
          data: {
              'csrfmiddlewaretoken': csrf,
              'busqueda': busqueda,
          },
          success: (res) => {
              console.log(res.data)
              const data = res.data
              if (Array.isArray(data)) {
                  resultsBox.innerHTML = ""
                  data.forEach(r => {
                      resultsBox.innerHTML += `
                      
                      <tr id="id_tr${r.pk}">
                        <td class="text-left text-sm pl-2">
                          <td class="pl-1 text-sm"><p class="btn btn-primary btn-sm text-sm px-1 py-0 mb-0" onclick="val('${r.pk}','${r.apellido}','${r.nombre}')">+</p></td>
                              <td class="text-sm pl-0">${r.apellido}, ${r.nombre}</td>
                      </tr>
                      `
                  })
              } else {
                  if (searchInput.value.length > 0) {
                      resultsBox.innerHTML = `
                      <tr><td colspan="8" class="text-center text-muted h4" Height="70px">${datos}</td></tr>
                      <tr><td colspan="8">
                          <div class="form-row pl-5 pr-5 mt-3">
                                      <div class="form-group col-12 text-right">
                                      <button id="agregar_fam" name="agregar_fam"
                              class="btn btn-primary mb-3">Agregar</button>
                                  </div>
                                  </div>
                      </td></tr>
                      `
                  }
              }
          },
          error: (err) => {
              console.log("Error: ", err)
          }
      })
  }

  searchInput.addEventListener('keyup', e => {
      if (e.target.value.length > 3) {
          sendSearchData(e.target.value, "busqueda")

      } else {
          resultsBox.innerHTML = '<td colspan="8" class="text-center text-muted h4">Realice una busqueda.</td>'
      }
  })
</script>

<script>
  function val(d,e,f) {
    appendToFamiliaresTable(d,e,f);
}
function appendToFamiliaresTable(d,e,f) {
  console.log(d)
  console.log(e)
  console.log(f)
  $("#div_id_invitados_individuales").append(`
  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="invitados_individuales" value="${d}" id="id_invitados_individuales_${d}" checked>
    <label class="form-check-label" for="id_invitados_individuales_${d}">
      ${e}, ${f}
    </label>
</div>
`);
};
</script>
{% endblock customJS%}