{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Comunicaciones{% endblock %}
{% block titulo-pagina %}Comunicaciones{% endblock %};
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right px-3">
    <li class="breadcrumb-item"><a href="{% url 'comunicaciones_listar' %}" class="text-muted">Comunicaciones</a></li>
    <li class="breadcrumb-item active"> Detalle</li>
    <li class="breadcrumb-item "> {{ object|truncatechars:9 }}</li>
</ol>
{% endblock %};
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <!-- botones -->
    <div class="col-12 my-3 mx-2 d-print-none">
        
        <a href="{% url 'comunicaciones_eliminar' object.id %}" class="btn btn-danger">Eliminar</a>
    </div>
    <!-- ./botones -->
</div>
<div class="row ">
    <div class="col-sm-9  pb-3">
        <div class="card card-primary card-outline  h-100">
            <div class="card-header">
                <div class="card-title">
                    Datos de la comunicación
                </div>
            </div>
            <div class="card-footer card-comments p-2">
                <ul class="nav nav-pills flex-column">

                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Fecha de envio
                            <span class="username  ml-3 mr-3">{{object.creado|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Destinatarios
                            <span class="username  ml-2 mr-3">
                                <ul class="list-unstyled m-0">
                                    {%for b in object.destinatarios.all %}

                                    <li class="badge bg-secondary h6"><a
                                            href="{% url 'perfiles_ver' b.id %}">{{b.email}}</a></li>
                                    {%endfor%}
                                </ul>
                            </span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Asunto
                            <span class="username ml-2 mr-2">{{object.asunto|capfirst|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Título del mensaje
                            <span class="username ml-2 mr-2">{{object.titulo|default:"-"}}</span>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="comment-text pb-4 ml-2 pt-2">
                            Mensaje
                            <span class="username ml-2 mr-2">{{object.mensaje|default:"-"}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <div class="card-title">
                    Envío
                </div>
            </div>
            <div class="card-footer">
                {% if object.fallo %}
                <div class="card bg-warning py-2 mb-1 text-center">
                    <h5 class="font-weight-bold my-1">
                        CON FALLOS
                    </h5>

                </div>
                <div class="row mt-3 px-3">
                    <span class="text-sm text-muted">
                        No fue posible enviar el correo a los siguientes destinatarios:
                    </span>
                    <span class="h6">
                        {{object.fallo}}
                    </span>
                </div>

                {% else %}
                <div class="card bg-success py-2 mb-1  text-center">
                    <h5 class="font-weight-bold my-1">
                        CORRECTO
                    </h5>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card card-primary card-outline ">
            <div class="card-header">
                <h3 class="card-title"> Archivos adjuntos</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">

                {% if archivos %}
                {% if files_img %}
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators">
                        {% for f in files_img %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"
                            class="{% if forloop.counter == 1 %}active{% endif %}">
                        </li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner rounded">
                        {% for f in files_img %}
                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                            <a href="{{ MEDIA_URL }}{{ f.archivo.url }}" target="_blank"
                                title="{{f.archivo|cut:'legajos/archivos/'}}">
                                <img class="d-block w-100 carousel-image" src="{{ MEDIA_URL }}{{ f.archivo.url }}">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-custom-icon" aria-hidten="true">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-custom-icon" aria-hidten="true">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% endif %}

                <ul class="list-unstyled mt-3 pl-2">
                    {% for f in files_docs %}
                    <li class="py-1">
                        <a href="{{ MEDIA_URL }}{{f.archivo.url}}" class="text-sm" target="_blank"
                            title="{{f.archivo|cut:'legajos/archivos/'}}"><i class="fas fa-file pr-1"></i>
                            {{f.archivo|cut:"legajos/archivos/"|truncatechars:35 }}
                        </a>
                    </li>
                    {% empty %}
                    {% endfor %}
                </ul>
                {% else %}
                <div class="text-center text-muted my-3">
                    - Sin archivos adjuntos -
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12">
        <button id="boton-volver" class="btn btn-secondary">Volver</button>
    </div>
</div>


{% endblock content %}


{% block customJS %}
<script>
    $(document).ready(function () {

        // desaparecer los Success messages
        setTimeout(function () {
            $(".alert").alert('close');
        }, 3000);


        // Agrega un evento click al botón "Volver" utilizando jQuery
        $("#boton-volver").on("click", function () {
            // Utiliza history.back() para navegar hacia atrás en la historia del navegador
            history.back();
        });

    });

</script>
{% endblock %}