{% extends "layouts/base.html" %};
{% load static %};

{% block custom_head %}
<!-- Datatables -->
<link rel="stylesheet" href="{% static 'plugins/DataTables/datatables.min.css' %}">

{% endblock custom_head %}

{% block title %}Perfiles{% endblock %};

{% block titulo-pagina %}Perfiles{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}

<!-- Imagen de CRM se muestra mientras carga la pantalla -->
<div class="preloader flex-column justify-content-center align-items-center">
  <img class="animation__shake" src="{% static 'images/favico.png' %}" alt="CRMLogo" height="60" width="60">
</div>

<form method='GET'>
  <div class="card card-gray-dark card-outline mb-5">
    <div class="card-header">
      <div class="row d-flex justify-content-between px-2">
        <div class="col-12 col-sm-2 mb-0 p-0">
          <a href="{% url 'perfiles_crear'%}" class="btn btn-primary d-block  font-weight-bold">Agregar</a>
        </div>
        <div class="col-12 col-sm-3 mb-0 p-0">
          <div class="form-row">
            <div class="form-group col-sm-10 mb-0  mt-2 mt-sm-0 pb-0">
              <input type="text" class="form-control form-control-border border-width-2" type='text' name='busqueda'
                value='{{ request.GET.busqueda }}' placeholder="Búsqueda ..." aria-label="Search">
            </div>
            <div class="form-group col-sm-2 mb-0 pb-0">
              <button type="submit" class="btn btn-primary btn-block"><i class='fas fa-search'></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body m-0 p-0">
      <div class="accordion" id="accordionExample">

        <div class="card  card-light m-0">
          <div class="card-header p-0" id="headingTwo">
            <button class="btn btn-block collapsed text-center text-primary btn-default m-0 p-0" type="button"
              data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Opciones de filtrado
            </button>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body  m-0 p-0">
              <div class="row m-0 p-0">

                <div class="col-sm-2 px-0 mx-0">
                  <div class="card h-100 ">
                    <div class="card-header pt-2 pb-0">
                      <h6 class="font-weight-bold">Bases </h6>
                    </div>
                    <div class="card-body">

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="base_general" name="base_general">
                          <label for="base_general">
                            General
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="base_voluntarios" name="base_voluntarios">
                          <label for="base_voluntarios">
                            Voluntarios
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="base_fiscal" name="base_fiscal">
                          <label for="base_fiscal">
                            Fiscales
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-3 px-0 mx-0">
                  <div class="card h-100">
                    <div class="card-header pt-2 pb-0">
                      <h6 class="font-weight-bold">Datos de Contacto </h6>
                    </div>
                    <div class="card-body">
                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="con_email" name="con_email">
                          <label for="con_email">
                            Con email
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="con_celular" name="con_celular">
                          <label for="con_celular">
                            Con celular
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="con_domicilio" name="con_domicilio">
                          <label for="con_domicilio">
                            Con domicilio
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="con_instagram" name="con_instagram">
                          <label for="con_instagram">
                            Con Instagram
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="con_facebook" name="con_facebook">
                          <label for="con_facebook">
                            Con Facebook
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-3 px-0 mx-0">
                  <div class="card h-100">
                    <div class="card-header pt-2 pb-0">

                      <h6 class="font-weight-bold">Rango etario </h6>
                    </div>
                    <div class="card-body">
                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="hasta_30_anios" name="hasta_30_anios">
                          <label for="hasta_30_anios">
                            Hasta 30 años
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="de_31_a_45_anios" name="de_31_a_45_anios">
                          <label for="de_31_a_45_anios">
                            De 31 a 45 años
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="mas_de_46_anios" name="mas_de_46_anios">
                          <label for="mas_de_46_anios">
                            Más de 46 años
                          </label>
                        </div>
                      </div>
                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="edad_desconocida" name="edad_desconocida">
                          <label for="edad_desconocida">
                            Desconocido
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 px-0 mx-0">
                  <div class="card h-100">
                    <div class="card-header pt-2 pb-0">
                      <h6 class="font-weight-bold">Sexo </h6>
                    </div>
                    <div class="card-body">
                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="sexo_f" name="sexo_f">
                          <label for="sexo_f">
                            Femenino
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="sexo_m" name="sexo_m">
                          <label for="sexo_m">
                            Masculino
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="sexo_x" name="sexo_x">
                          <label for="sexo_x">
                            X
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="sexo_desconocido" name="sexo_desconocido">
                          <label for="sexo_desconocido">
                            Desconocido
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-2 px-0 mx-0">
                  <div class="card h-100">
                    <div class="card-header pt-2 pb-0">

                      <h6 class="font-weight-bold">Estado </h6>
                    </div>
                    <div class="card-body">
                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="estado_activo" name="estado_activo">
                          <label for="estado_activo">
                            Activo
                          </label>
                        </div>
                      </div>

                      <div class="form-group clearfix ">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="estado_inactivo" name="estado_inactivo">
                          <label for="estado_inactivo">
                            Desactivado
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Resultados-->

<div class="card">
  <div class="card-body p-3">
    <table class="compact display nowrap" cellspacing="0" id="export_table" width="100%">
      <thead>
        <tr>
          <th>Ingreso</th>
          <th>Nombre</th>
          <th>Documento</th>
          <th>Edad</th>
          <th>Teléfono</th>
          <th>Email</th>          
          <th>Bases</th>
          <th class="text-center">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for o in object_list %}
        <tr>
          <td>{{o.creado|date:"d/m/y"}}</td>
          <td><a class="font-weight-bold small h6
              {% if o.activo %} text-success {% else %}text-danger{% endif %}" href="{% url 'perfiles_ver' o.id %}">
              {{o.nombres |default:"-"}} {{o.apellidos |default:""}}</a></td>
          <td> {{o.tipo_doc}} {{o.documento}}</td>
          <td> {% if o.edad%}{{o.edad}} años {%else%} - {%endif%}</td>
          <td>{{o.telefono|default:"-"}}</td>
          <td>{{o.email|default:"-"}}</td>
          <td>
            {% if o.es_fiscal or o.es_voluntario %}
            {% if o.es_fiscal %}
            <div class="badge badge-info h6 text-center"> Fiscales</div>
            {%endif%}
            {% if o.es_voluntario %}
            <div class="badge badge-info h6 text-center"> Voluntarios</div>
            {%endif%}
            {%else%}
            <div class="badge badge-secondary h6 text-center"> General</div>
            {%endif%}
          </td>
          <td class="text-center">
            {% if o.activo %} <span class="text-success font-weight-bold">Activo</span>
            {% else %} <span class="text-danger font-weight-bold">Desactivado </span>
            {% endif %}
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block customJS %}

<!-- Datatables -->

<script src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>
<script>


  $(document).ready(function () {

    const body = document.body;
    const html = document.documentElement;

    const observer = new MutationObserver(() => {
      if (body.classList.contains('dark-mode')) {
        html.classList.add('dark');
      } else {
        html.classList.remove('dark');
      }
    });

    // Configurar el observador para observar cambios en la clase del cuerpo
    const observerConfig = {
      attributes: true,  // Observar cambios en los atributos (clases)
      attributeFilter: ['class'],  // Observar solo cambios en la clase
    };

    // Iniciar la observación en el cuerpo con la configuración dada
    observer.observe(body, observerConfig);


    $.fn.DataTable.ext.pager.numbers_length = 4;

    $("#export_table").DataTable({

      responsive: true,
      pageLength: 25,
      dom: 'Blfrtip',
      buttons: [{
        //Botón para Excel
        extend: 'excel',
        exportOptions: { columns: ':not(.notexport)' },
        footer: true,
        title: 'Reporte CRM',
        filename: 'reporte_crm',
        text: '<button class="btn btn-sm btn-default m-0 h4" title="Descargar en Excel"><i class="fas fa-table text-success"></i></button>'
      },
      //Botón para PDF
      {
        extend: 'pdf',
        exportOptions: { columns: ':not(.notexport)' },
        footer: true,
        title: 'Reporte CRM',
        filename: 'reporte_crm',
        text: '<button class="btn btn-sm btn-default m-0 h4"  title="Descargar en PDF"><i class="fas fa-file-pdf text-danger"></i></button>',
        orientation: 'landscape',
        pageSize: 'LEGAL'
      },
      //Botón para Imprimir
      {
        extend: 'print',
        exportOptions: { columns: ':not(.notexport)' },
        footer: true,
        title: 'Reporte CRM',
        text: '<button class="btn btn-sm btn-default m-0 h4" title="Imprimir"><i class="fas fa-print text-primary"></i></button>',

      }],
      order: [[0, "asc"]],
      language: {
        lengthMenu: "Mostrar _MENU_ filas por página.",
        zeroRecords: "No se encontraron registros.",
        info: "<p class='ml-3 pt-3 font-weight-bold'> TOTAL: _TOTAL_ resultados <span class='font-weight-normal text-sm'>(Mostrando _START_ de _END_)</span>  </p> ",
        infoEmpty: "No hay registros disponibles",
        infoFiltered: "(filtrado por _MAX_ registros.)",
        search: "",
        searchPlaceholder: "Filtrar resultados",
        paginate: {
          next: "Siguiente",
          previous: "Anterior",
        },
      },
      
    });

    $('.dt-buttons').addClass('float-right mb-3 bg-transparent')
    $('.dt-button').addClass('bg-transparent p-0 mx-2')
    $('.dataTables_length').addClass('mb-3');
    $('.dataTables_filter').addClass('mb-3 mx-3 mt-1');
    $('.buttons-html5').addClass('border-0');
    $('.buttons-print').addClass('border-0');


  });

</script>


{% endblock %}