{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Perfiles{% endblock %}
{% block titulo-pagina %}Perfiles{% endblock %};
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right px-3">
    <li class="breadcrumb-item text-muted  ">Bases </li>
    <li class="breadcrumb-item "><a href="{% url 'perfiles_listar' %}"
            class="text-muted text-decoration-none">Perfiles</a></li>
    <li class="breadcrumb-item "> {{ object}}</li>
</ol>
{% endblock %};
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <!-- botones -->
    <div class="col-12 my-3 mx-2 d-print-none">
        {%if voluntario or fiscal %}
        <a href="{% url 'edicion_multiple' object.id %}" class="btn btn-primary mr-1">Editar</a>
        {% else %}
        <a href="{% url 'perfiles_editar' object.id %}" class="btn btn-primary mr-1">Editar</a>
        {% endif %}
        <a href="" class="btn btn-secondary mr-1 print">Imprimir</a>
        <a href="{% url 'perfiles_eliminar' object.id %}" class="btn btn-danger mr-1">Eliminar</a>
        {% if object.activo %}
        {%if perms.Bases.add_basefiscalesperfiles and not fiscal %}
        <a href="{% url 'fiscales_crear' object.id %}"
            class="btn btn-outline-info mr-1 float-sm-right mt-2 mt-sm-0">Agregar como
            fiscal</a>
        {% endif %}
        {%if perms.Bases.add_basevoluntariosperfiles and not voluntario %}
        <a href="{% url 'voluntarios_crear' object.id %}"
            class="btn btn-outline-info mr-1 float-sm-right mt-2 mt-sm-0">Agregar como
            voluntario</a>
        {% endif %}
        {% endif %}
    </div>
</div>
<!-- ./botones -->

<div class="row">
    <div class="col-sm-4 pb-3 order-2 order-sm-1">
        <div class="card card-gray-dark card-outline h-100">
            <div class="card-header">
                <div class="card-title">
                    Datos del perfil
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool d-sm-none" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-footer card-comments p-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Nombres
                            <span class="username">{{object.nombres|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Apellidos
                            <span class="username">{{object.apellidos|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Sexo
                            <span class="username">{{object.sexo|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Fecha de Nacimiento
                            <span class="username">{{object.fecha_nacimiento|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Edad
                            <span class="username">{{object.edad|default:"-"}} años</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Nacionalidad
                            <span class="username">{{object.nacionalidad|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            DNI
                            <span class="username">{{object.documento|default:"-"}}</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3 pb-3 order-3 order-sm-2">
        <div class="card card-gray-dark card-outline  h-100">
            <div class="card-header">
                <div class="card-title">
                    Datos de contacto
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool d-sm-none" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-footer card-comments p-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Email
                            <span class="username">{{object.email|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Teléfono
                            <span class="username">{{object.telefono|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Instagram
                            <span class="username">{{object.instagram|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Facebook
                            <span class="username">{{object.facebook|default:"-"}}</span>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Domicilio
                            <span class="username">{{object.direccion_completa|default:"-"}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3 pb-3 order-4 order-sm-3">
        <div class="card card-gray-dark card-outline  h-100">
            <div class="card-header">
                <div class="card-title">
                    Otros datos
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool d-sm-none" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-footer card-comments p-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Afinidad equipo fútbol
                            <span class="username">{{object.equipo_futbol|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Es socio del club
                            <span class="username">{{object.equipo_futbol|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Profesión/Actividad
                            <span class="username">{{object.profesion|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Está matriculado
                            <span class="username">{{object.matriculado|yesno:'SI,NO'}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Es empleado del GCBA
                            <span class="username">{{object.es_empleadoGCBA|yesno:'SI,NO'}}</span>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="comment-text ml-2 pt-2">
                            Es militante
                            <span class="username">{{object.es_militante|yesno:'SI,NO'}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-2 pr-sm-0 text-center order-1 order-sm-4 pb-2">
        <a href="#" data-toggle="modal" data-target="#modalActivo" title="Click para modificar estado del perfil.">
            {% if object.activo %}
            <div class="card bg-success py-3 mb-1">
                <h5 class="font-weight-bold my-1">
                    ACTIVO
                </h5>
            </div>
            {% else %}
            <div class="card card-danger">
                <div class="card-header text-center"> 
                    <h5 class=" font-weight-bold  my-1">DESACTIVADO</h5>
                </div>
                <div class="card-body text-left text-danger">
                    <p class="font-weight-bold">
                        {{object.fecha_inactivo|date:'d/m/y'}}:
                    </p>
                    {{object.motivo_inactivo}}
                </div>
            </div>
            {% endif %}
        </a>     

        {% if object.es_fiscal or object.es_voluntario %}
        {% if object.es_fiscal %}
        <div class="card bg-secondary py-2 mb-1">
            <h5 class="font-weight-bold my-1">
                BASE FISCALES
            </h5>
        </div>
        {%endif%}
        {% if object.es_voluntario %}
        <div class="card bg-secondary py-2 mb-1">
            <h5 class="font-weight-bold my-1">
                BASE VOLUNTARIOS
            </h5>
        </div>
        {%endif%}
        {%else%}
        <div class="card bg-secondary py-2 mb-1">
            <h5 class="font-weight-bold my-1">
                BASE GENERAL
            </h5>
        </div>
        {%endif%}

        {% if object.socio_futbol %}
        <div class="card bg-secondary py-2 mb-1">
            <h5 class="font-weight-bold my-1">
                ES SOCIO DE {{object.equipo_futbol|upper}}
            </h5>
        </div>
        {% endif %}

        {% if object.matriculado %}
        <div class="card bg-secondary py-2 mb-1">
            <h5 class="font-weight-bold my-1">
                ES {{object.profesion|upper}} MATRICULADO
            </h5>
        </div>
        {% endif %}

        {% if object.es_empleadoGCBA %}
        <div class="card bg-secondary py-2 mb-1">
            <h5 class="font-weight-bold my-1">
                ES EMPLEADO GCBA
            </h5>
        </div>
        {% endif %}

        {% if object.es_militante %}
        <div class="card bg-secondary py-2 mb-1">
            <h5 class="font-weight-bold my-1">
                ES MILITANTE
            </h5>
        </div>
        {% endif %}

    </div>
</div>

<div class="row">
    {% if voluntario %}
    <div class="col-12 mt-3 mt-sm-0">
        <div class="card card-gray-dark card-outline collapsed-card">
            <div class="card-header">
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="card-title">
                    Datos de la Base Voluntarios
                </div>
            </div>
            <div class="card-footer card-comments p-2">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="nav nav-pills flex-column">

                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Está en grupo de Wsp JXC?
                                    <span class="username mb-2">
                                        {% if voluntario.grupo_wsp %}
                                        <span class="badge badge-success">SI</span>
                                        {% else%}
                                        <span class="badge badge-danger">NO</span>
                                        {% endif%}
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Está en gen 23?
                                    <span class="username mb-2">
                                        {% if voluntario.gen_23 %}
                                        <span class="badge badge-success">SI</span>
                                        {% else%}
                                        <span class="badge badge-danger">NO</span>
                                        {% endif%}
                                </div>
                            </li>


                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Participa en eventos del local?
                                    <span class="username mb-2">
                                        {% if voluntario.eventos %}
                                        <span class="badge badge-success">SI</span>
                                        {% else%}
                                        <span class="badge badge-danger">NO</span>
                                        {% endif%}
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Afinidad con candidato/a
                                    <span class="username mb-2">
                                        {%if voluntario.afinidad%}
                                        {{voluntario.afinidad}}
                                        {%elif voluntario.otro_afinidad%}
                                        {{voluntario.otro_afinidad}}
                                        {%else%}
                                        -
                                        {%endif%}
                                    </span>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-12">
                        <ul class="nav nav-pills flex-column">

                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">

                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Observaciones
                                    <span class="username mb-2">{{voluntario.observaciones|default:"-"}}</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endif%}

    {% if fiscal%}
    <div class="col-12 mt-3 mt-sm-0">
        <div class="card card-gray-dark card-outline collapsed-card">
            <div class="card-header">
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="card-title">
                    Datos de la Base Fiscales
                </div>
            </div>
            <div class="card-footer card-comments p-2">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="nav nav-pills flex-column">

                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Fué fiscal antes?
                                    <span class="username mb-2">
                                        {% if fiscal.fue_fiscal%}
                                        <span class="badge badge-success">SI</span>
                                        {% else%}
                                        <span class="badge badge-danger">NO</span>
                                        {% endif%}

                                    </span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Última fecha en que fue fiscal
                                    <span class="username mb-2">{{fiscal.fecha_fiscal|default:"-"}}</span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Rol ejercido
                                    <span class="username mb-2">{{fiscal.eventos|default:"-"}}</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Disponibilidad
                                    <span class="username mb-2">{{fiscal.disp_jornada|default:"-"}}</span>

                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Desempeño
                                    <span class="username mb-2">{{voluntario.desempeno|default:"-"}}</span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text ml-2 pt-2">
                                    Observaciones
                                    <span class="username mb-2">{{voluntario.observaciones|default:"-"}}</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endif%}

</div>

<div class="row mt-4 d-print-none">
    <div class="col-12 mx-2">
        <button id="boton-volver" class="btn btn-secondary">Volver</button>
    </div>
</div>

<!----- MODAL ACTIVO--------->
<div class="modal fade" id="modalActivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% if object.activo %}
            <div class="modal-header bg-secondary">
                <h5 class="modal-title" id="exampleModalLabel1">Confirme el motivo para DESACTIVAR el perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'desactivar_perfil' object.id %}" method="POST" id="formDesactivar" novalidate
                    class="needs-validation">
                    {% csrf_token %}
                    <div class="col-12">
                        <div id="div_motivo" class="form-group">
                            <label for="motivo" class="">
                                Motivo*
                            </label>
                            <div>
                                <textarea name="motivo" rows="3" placeholder="" maxlength="150"
                                    class="textarea form-control" id="motivo" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <button type="submit" class="btn btn-danger">Desactivar</button>
                        <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="modal-header bg-secondary">
                <h5 class="modal-title" id="exampleModalLabel2">Confirme para ACTIVAR el perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'activar_perfil' object.id %}" method="POST" id="formActivar">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Activar</button>
                    <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}


{% block customJS %}
<script>
    $(document).ready(function () {

        //imprime los div excepto los elementos que tengan la clase 'd-print-none'
        $(".print").click(function () {
            window.print();
        });

        // Agrega un evento click al botón "Volver" utilizando jQuery
        $("#boton-volver").on("click", function () {
            history.back();
        });

    });

</script>
{% endblock %}