{% extends "layouts/base.html" %} {% load static %}
{% block titulo %}CRM / Home{%endblock titulo%}
{% block content %}

  <div class="row">
    <div class="col-sm-3">
      <div class="small-box bg-gradient-success">
        <div class="inner">
          <h2>Usuarios</h2>
          <p>8300 Registrados</p>
        </div>
        <div class="icon">
          <i class="fas fa-user"></i>
        </div>
        <a href="#" class="small-box-footer">
          Más <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="small-box bg-gradient-warning">
        <div class="inner">
          <h2>Bases</h2>
          <p>8300 Personas</p>
        </div>
        <div class="icon">
          <i class="fas fa-portrait"></i>
        </div>
        <a href="#" class="small-box-footer">
          Más <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="small-box bg-maroon">
        <div class="inner">
          <h2>Eventos</h2>
          <p>45 Eventos</p>
        </div>
        <div class="icon">
          <i class="fas fa-smile"></i>
        </div>
        <a href="#" class="small-box-footer">
          Más <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="small-box bg-purple">
        <div class="inner">
          <h2>Hoy</h2>
          <p>Calendario Hoy</p>
        </div>
        <div class="icon">
          <i class="fas fa-calendar-alt"></i>
        </div>
        <a href="#" class="small-box-footer">
          Más <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">

    </div>
    <div class="col-lg-5">
      
    </div>
  </div>  

{% endblock content%}

{% block customJS %}
{% endblock customJS %}