{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Eventos{% endblock %}
{% block titulo-pagina %}Eventos{% endblock %};
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right px-3">
    <li class="breadcrumb-item "><a href="{% url 'eventos_listar' %}"
            class="text-muted text-decoration-none">Eventos</a></li>
    <li class="breadcrumb-item "> {{ object.nombre}}</li>
</ol>
{% endblock %};
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <!-- botones -->
    <div class="col-12 my-3 mx-2 d-print-none">
        <a href="{% url 'eventos_editar' object.id %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'eventos_eliminar' object.id %}" class="btn btn-danger">Eliminar</a>
    </div>
    <!-- ./botones -->
</div>

<div class="row">

    <div class="col-sm-3">
        <div class="card card-primary card-outline">
            <div class="card-footer">

                {% if object.flyer != "default.png"%}
                <a href="{{ MEDIA_URL }}{{ object.flyer.url }}" target="_blank" title="{{object.flyer|cut:'eventos/'}}">
                    <img class="card-img-top" src="{{object.flyer.url}}" alt="Flyer evento" />
                </a>
                {% else %}
                <div class="text-center text-muted my-3">
                    - Sin flyer -
                </div>
                {% endif %}
                <div class="mt-3">
                    {% if object.estado == "Vigente" %}
                    <div class="card bg-info py-2 mb-1  text-center">
                        <h5 class="font-weight-bold my-1">
                            {{object.estado}}
                        </h5>
                    </div>
                    {% elif object.estado == "Pendiente" %}
                    <div class="card bg-success py-2 mb-1  text-center">
                        <h5 class="font-weight-bold my-1">
                            {{object.estado}}
                        </h5>
                    </div>
                    {% else %}
                    <div class="card py-2 mb-1  text-center">
                        <h5 class="font-weight-bold my-1">
                            {{object.estado}}
                        </h5>
                    </div>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <div class="card-title">
                    Datos del Evento
                </div>
            </div>
            <div class="card-footer card-comments p-2">
                <ul class="nav nav-pills flex-column">

                    <li class="nav-item">
                        <div class="comment-text">
                            Fecha
                            <span class="username">{{object.fecha|default:"-"}} -
                                {{object.hora|default:"-"}}:{{object.minutos|default:"-"}} Hs.</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text">
                            Nombre
                            <span class="username">{{object.nombre|capfirst |default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text">
                            Modo
                            <span class="username">{{object.modo|default:"-"}}</span>
                        </div>
                    </li>
                    {% if object.modo == "VIRTUAL" %}
                    <li class="nav-item">
                        <div class="comment-text">
                            Web
                            <span class="username">
                                <a href="{{ MEDIA_URL }}{{object.web}}" target="_blank">
                                    {{object.web}}
                                </a>
                            </span>
                        </div>
                    </li>
                    {% elif object.modo == "PRESENCIAL" %}
                    
                    <li class="nav-item">
                        <div class="comment-text">
                            Lugar
                            <span class="username">{{object.lugar|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text">
                            Dirección
                            <span class="username">{{object.calle|default:"-"}}
                                {{object.altura|default:"-"}}
                                {{object.piso|default:"-"}}
                                {{object.departamento|default:"-"}}
                            </span>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <div class="comment-text">
                            Teléfono
                            <span class="username">{{object.telefono|default:"-"}}</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="comment-text">
                            Mensaje
                            <span class="username">{{object.mensaje|default:"-"}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <div class="card-title">
                    Invitados
                </div>
            </div>
            <div class="card-footer card-comments p-2">
                <ul class="list-unstyled m-0">
                    {%for b in object.invitados.all %}
                    <li class="badge bg-secondary h6">{{b}}</li>
                    {%empty%}
                    <li><span class="h5 pl-3">-</span></li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="row mt-3">
    <div class="col-sm-12 ">
        <a href="{% url 'eventos_listar' %}" class="btn btn-secondary">Volver</a>
    </div>
</div>


{% endblock content %}


{% block customJS %}
<script>
    $(document).ready(function () {



    });

</script>
{% endblock %}