{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Error 500{% endblock %};

{% block titulo-pagina %}{% endblock %};

{% block breadcrumb %}

{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}

<div class="error-page align-items-center">
    <h2 class="headline text-danger">
        500
    </h2>
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i>
            ¡Ups! Algo salió mal.
        </h3>
        <div>
            Trabajaremos para solucionarlo de inmediato.
        </div>
        <div class="mt-2">Mientras tanto, puede <a href="{% url 'index' %}">volver al inicio. </a>
       
        </p>
        
    </div>
</div>

{% endblock content%}