{% extends "layouts/base.html" %};
{% load static %};

{% block custom_head %}
{% endblock %}

{% block title %}Usuarios{% endblock %};

{% block titulo-pagina %}Usuarios{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<form method='GET'>
  <div class="card card-gray-dark card-outline">
    <div class="card-header">
      <div class="row d-flex justify-content-between px-2">
        <div class="col-12 col-sm-2 mb-0 p-0">
          <a href="{% url 'usuarios_crear'%}" class="btn btn-primary d-block  font-weight-bold">Agregar</a>
        </div>
        <div class="col-12 col-sm-3 mb-0 p-0">
          <div class="form-row">
            <div class="form-group col-sm-10 mb-0  mt-2 mt-sm-0 pb-0">
              <input type="text" class="form-control form-control-border border-width-2" type='text' name='busqueda'
                value='{{ request.GET.busqueda }}' placeholder="Búsqueda ..." aria-label="Search">
            </div>
            <div class="form-group col-sm-2 mb-0 pb-0">
              <button type="submit" class="btn btn-primary btn-block"><i class='fas fa-search'></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="card">
  <div class="card-body p-0">
    <div class="table-responsive text-nowrap">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th class="d-none d-sm-table-cell">Email</th>
            <th class="d-none d-sm-table-cell">Último Ingreso</th>
            <th class="d-none d-sm-table-cell">Grupos</th>
            <th class="d-none d-sm-table-cell">Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
          <tr class="clickable-row " role="button" data-href="{% url 'usuarios_ver' o.id %}" title="ver detalle">
            <td><span class="font-weight-bold 
              {% if o.usuario.is_active %} text-success {% else %}text-danger{% endif %}">
                {{o.usuario}}</span>
            </td>
            <td><span class="text-black h6">{{o.usuario.first_name}} {{o.usuario.last_name}}</span></td>
            <td><span class="d-none d-sm-table-cell">{{o.usuario.email}}</span></td>
            <td class="d-none d-sm-table-cell"> {{o.usuario.last_login |date }}</td>
            <td class="d-none d-sm-table-cell">
              {%for p in o.usuario.groups.all %}
              <span class="badge badge-info h6 " title="{{p.name}}">{{p}}</span>
              {%empty%}
              <span class="font-weight-bold">-</span>
              {%endfor%}
            </td>
            <td class="d-none d-sm-table-cell">
              {% if o.usuario.is_active %} <span class="text-success font-weight-bold">Activo</span>
              {% else %} <span class="text-danger font-weight-bold">Desactivado</span>
              {% endif %}
            </td>

          </tr>
          {% empty %}
          <td class="text-center text-muted" colspan="6">-Sin Usuarios-</tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block customJS %}
<script>
  
$(".clickable-row").click(function () {
	// se agrrega la clase en filas <tr> de un table para que sean links a la vista de detalle del elemento
	window.location = $(this).data("href");
});

</script>
{% endblock %}